<html><head>
    <title>Bada Business - Digital Dukaan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/site/templates/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/static/site/templates/assets/css/override.css">
    <link rel="stylesheet" href="/static/site/templates/assets/css/intlTelInput.css">
    <link href="../../fonts.googleapis.com/css2.css?family=Roboto&amp;display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body data-new-gr-c-s-check-loaded="14.1018.0" data-gr-ext-installed="">
<style type="text/css">
.ib_country_2{width: 90px!important;float: left;margin-right:5px;}
#header_mobile{width: 200px!important;float: left;}
.j-center{display: flex;justify-content: center;align-items: center;}
</style>

<div class="loading_gif">
<img src="/static/site/templates/assets/img/loader.gif">
</div>


<div class="uk-position-relative">
        <h1>Thanks For Registering we will Get back to you Soon!</h1>
</div>

    <script type="text/javascript">
        var type_u = "IBC";
        console.log(type_u,"dss");
    </script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/site/templates/assets/js/uikit.min.js"></script>
    <script src="/static/site/templates/assets/js/uikit-icons.min.js"></script>
    <script src="/static/site/templates/assets/js/intlTelInput-jquery.min.js"></script>
    <script src="/static/site/templates/assets/js/cities.js"></script>
    <script src="/static/site/templates/assets/js/init.jss"></script>

</body></html>